<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">NFNOATO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="/navigation/relacoes"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg> comerciais</a><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Produtos</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Estoques</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Pedidos</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Documentos Fiscais</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Financeiro</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Parametros</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Relatorios</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Importação</a> 
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn btn-secondary my-2 my-sm-0" type="submit">Sair</button>
      </form>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  